<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <h4>Agregar Curso</h4>
        <div class="form-group">
          <label for="id">Id</label>
          <input
            class="form-control"
            id="id"
            required
            [(ngModel)]="tutorial.id"
            name="id"
          />
        </div>
  
        <div class="form-group">
          <label for="title">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="tutorial.title"
            name="title"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Descripcion</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="tutorial.description"
            name="description"
          />
        </div>
  
        <button (click)="saveTutorial()" class="btn btn-success">Agregar</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Tutorial was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTutorial()">Salir</button>
      </div>
    </div>
  </div>